body{
    margin:0;
    padding:0;
    /*background-color: aqua;
    background-image: url('shinchan.jpeg');
    background-repeat: repeat-y;
    background-position: top left 40px ;
    /*background-size: cover;*/
    background: url('shinchan.jpeg') no-repeat top left;
     background-size: cover; 
     font-size: 40px ;
}
html,*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
}
p{
    color:goldenrod;
    /* color: midnightblue; */
    font-family: arial;
    font-size: medium;
    font-weight: 700;
    font-style: inherit;
    text-align: center;
    text-decoration: dotted;
    text-transform: uppercase;
    text-shadow: 30px 0px 10px midnightblue;
    display: center;
}
#para{
    color: brown;
}
img{
    float: right;
    margin-right: 20px;
    border: 10px solid #9999;
    border-radius: 30%;
}